<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <pre>data = {{data|json}}</pre>
                <pre>form.value = {{form.value|json}}
form.pristine = {{form.pristine|json}}
form.dirty = {{form.dirty|json}}
form.touched = {{form.touched|json}}
form.untouched = {{form.untouched|json}}
form.valid = {{form.valid|json}}
form.invalid = {{form.invalid|json}}
form.enabled = {{form.enabled|json}}
form.errors = {{form.errors|json}}</pre>
                <form class="user" [formGroup]="form" #f="ngForm" (ngSubmit)="doLogin(f)">

                  <div formArrayName="accounts">

                    <div *ngFor="let account of form.get('accounts')['controls'];
                                 let i=index" [formGroupName]="i">

                      <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                              aria-describedby="emailHelp" placeholder="Enter Email Address..."
                              formControlName="email">
                        <span *ngIf="f.submitted && account.get('email')['errors']?.required" style="color: red">請輸入電子郵件信箱</span>
                        <span *ngIf="f.submitted && account.get('email')['errors']?.email" style="color: red">請輸入合法的電子郵件信箱</span>
                      </div>
                      <pre>account.get('email').value = {{account.get('email').value|json}}
    account.get('email').pristine = {{account.get('email').pristine|json}}
    account.get('email').dirty = {{account.get('email').dirty|json}}
    account.get('email').touched = {{account.get('email').touched|json}}
    account.get('email').untouched = {{account.get('email').untouched|json}}
    account.get('email').valid = {{account.get('email').valid|json}}
    account.get('email').invalid = {{account.get('email').invalid|json}}
    account.get('email').enabled = {{account.get('email').enabled|json}}
    account.get('email').errors = {{account.get('email').errors|json}}</pre>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                              placeholder="Password"
                              formControlName="pwd">
                      </div>

                    </div>

                    <button type="button" (click)="addNewAccount()">+</button>
                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck"
                        formControlName="rememberMe">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block"> Login </button>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
